In [2]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
def load_data():
    # conn = sqlite3.connect("crypto_data.db")
    df = pd.read_sql_query("SELECT * FROM prices", conn)
    conn.close()
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    return df

In [4]:
def basic_analysis(df):
    print(" Shape:", df.shape)
    print("\n Date Range:", df['timestamp'].min(), "â†’", df['timestamp'].max())
    print("\n Summary Stats:\n", df.groupby("symbol")["price"].describe())

In [6]:
def plot_price_trend(df):
    plt.figure(figsize=(10, 5))
    sns.lineplot(data=df, x='timestamp', y='price', hue='symbol')
    plt.title("Crypto Price Trend")
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

In [7]:
if __name__ == "__main__":
    df = load_data()
    basic_analysis(df)
    plot_price_trend(df)

DatabaseError: Execution failed on sql 'SELECT * FROM prices': no such table: prices